@import "./reset.css";

:root {
  --app-purple:104 42 233;
  --app-white:219 219 219;
  --app-gray:110 113 113;
  --app-black:14 18 18;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Default                                                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


p, h1, a, button {
  color: rgb(var(--app-white));
  font-size: 1rem;
  font-weight: 400;
}

a.social-link, h2, .header-close-nav, h3, h2 {
  color: rgb(var(--app-purple));
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Header                                                                    */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

main {
background-image: url(../media/bartek-garbowicz-xJeCLqsBUqc-unsplash.jpg);
background-color: rgb(var(--app-black));
background-position: center;
background-repeat: repeat-y;
background-size: cover;
height: 100vh;
}
 
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  padding: 0 1rem 5rem;
  background-color: rgb(0 0 0 / 0);
}

.header-container {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80rem;
  height: 3rem;
  margin: 0 auto;
  
}

nav, ul {
  display: flex;
  align-items: center;
}

li {
  margin-left: 1rem;
}

.button-nav {
  display: none;
}

button.hidden {
  display:none;
}

@media screen and  (max-width: 770px) {
  .button-nav {display: block;}
  nav.visible {
    display: flex;
  }

  nav {
      display: none;
      flex-direction: column;
      position: fixed;
      bottom: 0;
      right: 0;
  }

  ul {
    flex-direction: column;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Hero                                                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Content                                                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.container {
  max-width: 80rem;
  margin: 0 auto;
}


h3, h2 {
  font-size: 1.5rem;
}